* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-stretch: semi-condensed; }

nav {
  background-color: white;
  height: 108px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; }
  nav div {
    display: flex;
    border-bottom: 1px solid #E5E5E5; }
    nav div div {
      border: none; }
  nav ul {
    display: flex;
    margin: 0;
    list-style: none; }
    nav ul li {
      display: inline-flex;
      align-items: center; }
  nav .company-nav {
    line-height: 39px;
    margin: 0;
    padding: 0; }
    nav .company-nav li {
      box-sizing: border-box;
      border-right: 1px solid #E5E5E5;
      margin: 0;
      height: 40px;
      padding-left: 29px;
      padding-right: 29px; }
  nav .nav-top {
    align-items: center;
    justify-content: space-between; }
    nav .nav-top .nav-top-padding {
      font-size: 12px;
      color: #8D8D8D;
      padding: 0 12px; }
      nav .nav-top .nav-top-padding:hover {
        color: #111; }
    nav .nav-top .flag-link {
      padding: 0 19px; }
      nav .nav-top .flag-link .flag-icon {
        height: 10px;
        width: 14px; }
  nav .nav-bottom {
    padding: 0 32px 0 31px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  nav .nike-logo {
    min-width: 58px;
    height: 68px;
    background-image: url("../img/logos/nike-icon.png");
    background-size: cover; }
  nav .nike-plus-logo {
    font-size: 12px;
    color: #8D8D8D;
    padding: 0 12px; }
    nav .nike-plus-logo:hover {
      color: #111; }
  nav .jumpman-logo {
    width: 79px;
    background-image: url("../img/logos/jumpman-logo.png");
    background-size: 21px 21px;
    background-repeat: no-repeat;
    background-position: center; }
    nav .jumpman-logo:hover {
      background-image: url("../img/logos/jumpman-logo-red.png"); }
  nav .hurley-logo {
    width: 106px;
    background-image: url("../img/logos/hurley-logo-light.jpg");
    background-size: 54px;
    background-repeat: no-repeat;
    background-position: center; }
    nav .hurley-logo:hover {
      background-image: url("../img/logos/hurley-logo.jpg"); }
  nav .converse-logo {
    width: 106px;
    background-image: url("../img/logos/converse-logo-light.png");
    background-size: 62px;
    background-repeat: no-repeat;
    background-position: center; }
    nav .converse-logo:hover {
      background-image: url("../img/logos/converse-logo.png"); }
  nav .nav-categories {
    text-align: center; }
    nav .nav-categories li {
      padding: 0 20px 0 20px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600; }
      nav .nav-categories li a {
        line-height: 66px; }
      nav .nav-categories li:hover {
        border-bottom: 2px solid black; }
  nav .search-box {
    position: relative;
    float: right; }
    nav .search-box input {
      height: 40px;
      width: 194px;
      margin-left: 30px;
      border: 1px solid #E5E5E5;
      border-radius: 5px;
      position: relative;
      font-size: 13px;
      padding: 0 31px 2px 41px;
      overflow: hidden;
      -webkit-transition: width .25s ease-in-out, margin-left .25s ease-in-out;
      -moz-transition: width .25s ease-in-out, margin-left .25s ease-in-out;
      -o-transition: width .25s ease-in-out, margin-left .25s ease-in-out;
      transition: width 0.25s ease-in-out, margin-left 0.25s ease-in-out;
      transition-delay: 0.25s; }
      nav .search-box input:focus {
        transition-delay: 0s;
        width: 224px;
        margin-left: 0;
        border-color: #8D8D8D;
        outline: none; }
      nav .search-box input:focus ~ i.fa-search {
        transition-delay: 0s;
        left: 13px; }

body {
  padding: 0;
  margin: 0; }

main {
  padding-top: 108px; }
  main .carousel {
    height: 60px;
    background-color: #F7F7F7; }
  main section {
    position: relative; }
  main .banner-element {
    z-index: 100;
    width: 267px;
    position: absolute;
    left: 3.333333%;
    top: 8.876298%;
    color: black; }
    main .banner-element h2 {
      text-transform: uppercase;
      font-size: 35px; }
    main .banner-element p {
      font-size: 16px;
      font-stretch: normal; }
    main .banner-element a {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold; }
      main .banner-element a:hover {
        border-bottom: 1px solid black; }
  main .main-billboard {
    display: flex;
    flex-wrap: wrap; }
    main .main-billboard .billboard-element {
      position: relative;
      width: 50%; }
      main .main-billboard .billboard-element img {
        width: 100%;
        height: auto; }
      main .main-billboard .billboard-element .billboard-text {
        width: 180px;
        position: absolute; }
        main .main-billboard .billboard-element .billboard-text h2 {
          text-transform: uppercase;
          font-size: 20px; }
        main .main-billboard .billboard-element .billboard-text p {
          font-size: 14px;
          font-stretch: normal; }
        main .main-billboard .billboard-element .billboard-text a {
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase; }
          main .main-billboard .billboard-element .billboard-text a:hover {
            border-bottom: 1px solid black; }
      main .main-billboard .billboard-element .city {
        color: white;
        top: 3.333%;
        left: 3.333%; }
        main .main-billboard .billboard-element .city a:hover {
          border-color: white; }
      main .main-billboard .billboard-element .watch {
        right: 3.333%;
        bottom: 50%;
        text-align: right; }
      main .main-billboard .billboard-element .run-child {
        top: 3.333%;
        left: 3.333%; }
      main .main-billboard .billboard-element .run-adult {
        color: white;
        bottom: 3.333%;
        right: 3.333%;
        text-align: right; }
        main .main-billboard .billboard-element .run-adult a:hover {
          border-color: white; }
    main .main-billboard .billboard-last {
      margin-top: -19%; }

footer {
  background-color: #191919;
  color: white; }
  footer li a {
    font-size: 11px;
    color: #999; }
    footer li a h2 {
      color: white;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 400;
      margin: 0; }
  footer li a, footer li a:active, footer li a:hover, footer li a:visited {
    text-decoration: none; }
  footer li a:active, footer li a:hover {
    color: white; }
  footer .social {
    float: none;
    margin: 0;
    padding: 0;
    text-align: right;
    list-style: none; }
    footer .social li {
      height: 28px; }
      footer .social li span {
        padding: 0 5px; }
  footer .footer-bottom {
    display: inline-block;
    width: 100%;
    padding-top: 12px;
    border-top: 1px solid #444;
    margin-top: 36px;
    vertical-align: top; }
    footer .footer-bottom .list {
      margin-top: 0;
      padding-left: 0;
      list-style: none;
      font-size: 11px; }
      footer .footer-bottom .list li {
        display: inline; }
    footer .footer-bottom .left {
      float: left; }
      footer .footer-bottom .left li {
        padding-right: 12px; }
    footer .footer-bottom .right {
      float: right; }
      footer .footer-bottom .right li {
        padding-left: 15px; }
    footer .footer-bottom .flag {
      padding-right: 12px; }
  footer .footer-wrapper {
    padding: 42px 42px 0;
    min-width: 684px;
    max-width: 940px;
    margin: 0 auto; }
  footer .footer-column-container {
    display: inline-block;
    width: 100%; }
    footer .footer-column-container .footer-column {
      padding: 0;
      list-style: none;
      margin: 0 20px 0 0;
      min-width: 140px;
      float: left; }
      footer .footer-column-container .footer-column li {
        height: 28px; }

.cover-img {
  width: 100%;
  height: auto;
  z-index: -1; }

.text-dark {
  color: #999; }

.fa {
  position: relative;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background-color: #444;
  color: #191919; }
  .fa:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .fa:hover {
    background-color: white; }

.fa-search {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  -webkit-transition: left .25s ease-in-out;
  -moz-transition: left .25s ease-in-out;
  -o-transition: left .25s ease-in-out;
  transition: left 0.25s ease-in-out;
  transition-delay: 0.25s; }

.fa-shopping-cart {
  background-color: white;
  color: #8D8D8D; }
  .fa-shopping-cart:hover {
    color: #111; }

a:hover {
  cursor: pointer;
  z-index: 100; }

@media (max-width: 800px) {
  .main-billboard .billboard-element {
    width: 100%; }
  .main-billboard .billboard-last {
    margin: 0; } }

/*# sourceMappingURL=main.css.map */
