$bg-dark : #191919;
$border-gray : #E5E5E5;
$text-gray: #8D8D8D;
$text-dark: #111;


$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';
$footer-font-small: 11px;
$footer-font-lrg: 14px;


* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

main {
  padding-top: 108px;
}

nav {
  background-color: white;
  height:108px;
  width: 100%;
  position: fixed;
  top:0;
  left: 0;
  z-index: 1000;

  div {
    display: flex;
    border-bottom: 1px solid $border-gray;
    div {
      border: none;
    }
  }

  ul {
    display: flex;
    margin:0;
    list-style: none;
    li{
      display: inline-flex;
      align-items: center;
    }
  }

  .company-nav {
    line-height: 39px;
    margin: 0;
    padding: 0;
    //position: absolute;
    //top: -1px;
    li {
      box-sizing: border-box;
      border-right: 1px solid $border-gray;
      margin:0;
      height: 40px;
      padding-left: 29px;
      padding-right: 29px;
      //margin-left: -5px;
    }
  }

  .nav-top {
    align-items: center;
    justify-content: space-between;



    .nav-top-padding {
      font-size: 12px;
      color: $text-gray;
      padding: 0 12px;

      &:hover {
        color: $text-dark;
      }
    }
    .flag-link {
      padding: 0 19px;
      .flag-icon {
        height: 10px;
        width: 14px;
      }
    }
  }

  .nav-bottom {
    padding: 0 32px 0 31px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nike-logo {
    min-width: 58px;
    height: 68px;
    background-image: url("../img/logos/nike-icon.png");
    background-size: cover;
  }

  .nike-plus-logo {
    font-size: 12px;
    color: $text-gray;
    padding: 0 12px;

    &:hover {
      color: $text-dark;
    }
  }

  .jumpman-logo {
    width:79px;
    background-image: url("../img/logos/jumpman-logo.png");
    background-size: 21px 21px;
    background-repeat: no-repeat;
    background-position: center;
    &:hover {
      background-image: url("../img/logos/jumpman-logo-red.png");
    }
  }

  .hurley-logo {
    width: 106px;
    background-image: url("../img/logos/hurley-logo-light.jpg");
    background-size: 54px;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      background-image: url("../img/logos/hurley-logo.jpg");
    }
  }

  .converse-logo {
    width: 106px;
    background-image: url("../img/logos/converse-logo-light.png");
    background-size: 62px;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      background-image: url("../img/logos/converse-logo.png");
    }
  }

  .nav-categories {
    text-align: center;

    li {
      padding: 0 20px 0 20px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;

      a {
        line-height: 66px;
      }

      &:hover {
        border-bottom: 2px solid black;
      }
    }
  }

  .search-box {
    position: relative;
    float:right;

    input {
      height: 40px;
      width: 194px;
      margin-left: 30px;
      border: 1px solid $border-gray;
      border-radius: 5px;
      position: relative;
      font-size: 13px;
      padding: 0 31px 2px 41px;
      overflow: hidden;

      -webkit-transition: width .25s ease-in-out, margin-left .25s ease-in-out;
      -moz-transition: width .25s ease-in-out, margin-left .25s ease-in-out;
      -o-transition: width .25s ease-in-out, margin-left .25s ease-in-out;
      transition: width 0.25s ease-in-out, margin-left 0.25s ease-in-out;

      transition-delay: 0.25s;

      &:focus {
        transition-delay: 0s;
        width:224px;
        margin-left:0;
        border-color:$text-gray;
        outline: none;
      }

      &:focus ~ i.fa-search {
        transition-delay: 0s;
        left: 13px;
      }

    }

  }


}



body {
  padding: 0;
  margin: 0;
}

footer {
  background-color: $bg-dark;
  color:white;
  li {
    a {
      font-size: $footer-font-small;
      color: #999;
      h2 {
        color:white;
        text-transform: uppercase;
        font-size:$footer-font-lrg;
        font-weight:400;
        margin:0;
      }
    }
    #{$a-tags} {
      text-decoration: none;
    }
    #{$a-tags-hover} {
      color: white;
    }
  }

  .social {
    float:none;
    margin: 0;
    padding: 0;
    text-align: right;
    list-style: none;
    li {
      height: 28px;
    }
  }

  .footer-bottom {
    display: inline-block;
    width: 100%;
    padding-top: 12px;
    border-top: 1px solid #444;
    margin-top: 36px;
    vertical-align: top;

    .list {
      margin-top: 0;
      padding-left: 0;
      list-style: none;
      font-size: $footer-font-small;
      li {
        display: inline;
      }
    }

    .left {
      float: left;
      li{
        padding-right: 12px;
      }
    }

    .right {
      float: right;
      li {
        padding-left: 15px;
      }
    }

    .flag {
      padding-right: 12px;
    }
  }

  .footer-wrapper {
    padding: 42px 42px 0;
    min-width: 684px;
    max-width: 940px;
    margin: 0 auto;
  }

  .footer-column-container {
    display: inline-block;
    width: 100%;

    .footer-column {
      padding: 0;
      list-style: none;
      margin:0 20px 0 0;
      min-width: 140px;
      float: left;

      li {
        height: 28px;
      }
    }
  }

}

.cover-img {
  width: 100%;
  height: auto;
  z-index: -1;
}

.banner-element {
  width: 267px;
  position: absolute;
  padding: 50px;
}

.main-billboard {
  display: flex;
  flex-wrap: wrap;

  .billboard-element {
    width: 50%;
    img {
      width: 100%;
      height: auto;
    }
  }

  .billboard-last {
    margin-top: -19%;
  }

}



.text-dark {
  color:#999;
}


//FONT AWESOME OVERRIDES
.fa {
  position: relative;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background-color: #444;
  color: $bg-dark;

  &:before {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    background-color: white;
  }
}

.fa-search {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);

  -webkit-transition: left .25s ease-in-out;
  -moz-transition: left .25s ease-in-out;
  -o-transition: left .25s ease-in-out;
  transition: left 0.25s ease-in-out;
  transition-delay: 0.25s;
}

.fa-shopping-cart {
  background-color: white;
  color: $text-gray;

  &:hover {
    color: $text-dark;
  }
}


a {
  &:hover {
    cursor: pointer;
  }
}

//RESPONSIVE STYLES
@media (max-width: 800px) {
  .main-billboard {
    .billboard-element {
      width:100%;
    }

    .billboard-last {
      margin:0;
    }
  }
}
  
