$bg-dark : #191919;
$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';
$footer-font-small: 11px;
$footer-font-lrg: 14px;


* {
  box-sizing: border-box;
  font-family: Helvetica;
}

main {
  padding-top: 108px;
}

nav {
  background-color: white;
  height:108px;
  width: 100%;
  position: fixed;
  top:0;
  left: 0;
  z-index: 1000;

  div {
    display: flex;
  }

  ul {
    margin:0;
    list-style: none;
    li{
      display: inline;
    }
  }

}



body {
  padding: 0;
  margin: 0;
}

footer {
  background-color: $bg-dark;
  color:white;
  li {
    a {
      font-size: $footer-font-small;
      color: #999;
      h2 {
        color:white;
        text-transform: uppercase;
        font-size:$footer-font-lrg;
        font-weight:400;
        margin:0;
      }
    }
    #{$a-tags} {
      text-decoration: none;
    }
    #{$a-tags-hover} {
      color: white;
    }
  }

  .social {
    float:none;
    margin: 0;
    padding: 0;
    text-align: right;
    list-style: none;
    li {
      height: 28px;
    }
  }

  .footer-bottom {
    display: inline-block;
    width: 100%;
    padding-top: 12px;
    border-top: 1px solid #444;
    margin-top: 36px;
    vertical-align: top;

    .list {
      margin-top: 0;
      padding-left: 0;
      list-style: none;
      font-size: $footer-font-small;
      li {
        display: inline;
      }
    }

    .left {
      float: left;
      li{
        padding-right: 12px;
      }
    }

    .right {
      float: right;
      li {
        padding-left: 15px;
      }
    }

    .flag {
      padding-right: 12px;
    }
  }

  .footer-wrapper {
    padding: 42px 42px 0;
    min-width: 684px;
    max-width: 940px;
    margin: 0 auto;
  }

  .footer-column-container {
    display: inline-block;
    width: 100%;

    .footer-column {
      padding: 0;
      list-style: none;
      margin:0 20px 0 0;
      min-width: 140px;
      float: left;

      li {
        height: 28px;
      }
    }
  }

}

.cover-img {
  width: 100%;
  height: auto;
  z-index: -1;
}

.banner-element {
  width: 267px;
  position: absolute;
  padding: 50px;
}




.fa {
  position: relative;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background-color: #444;
  color: $bg-dark;

  &:before {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    background-color: white;
  }
}


.text-dark {
  color:#999;
}